
<style type="text/css">
    .header {
        background: #8a8a8a;
    }
    
    .header .columns {
        padding-bottom: 0;
    }

    .text-right {
        font-weight: bold;
    }
    
    .header p {
        color: #fff;
        padding-top: 15px;
    }
    
    .header .wrapper-inner {
        padding: 20px;
    }
    
    .header .container {
        background: transparent;
    }
    
    table.button.facebook table td {
        background: #385998;
    }
    
    table.button.twitter table td {
        background: #385998;
    }
    
    .wrapper.secondary {
        background: #f3f3f3
    }
    .ul {
        list-style-type: square; 
        margin-left: 10px;
    }
</style>

<wrapper class="header">
    <container>
        <row class="collapse">
            <columns small="6">
                <h1 class="text-right">Parcel Hero</h1>
            </columns>
        </row>
    </container>
</wrapper>

<conatiner>
    <spacer size="16"></spacer>
    <row>
        <columns small="12">
            <h2>Hello,
                <%= email %>
            </h2>
            <p class="lead">Welcome to Parcel Hero</p>
            <p>Parcel Hero is a courier service that helps users deliver parcels to different destinations. SendIT provides courier quotes based on weight categories.</p>
            <callout class="primary">
                <p>Send your parcel in three simple steps</p>
            </callout>
            <ul class="ul">
                <li>Create an account</li>
                <li>Fill in the parcel details:</li>
                <li>Drop your parcel to yor nearest parcel hero office</li>
            </ul>
        </columns>
    </row>
    <wrapper class="secondary">
        <spacer size="16"></spacer>
        <row>
            <columns large="6">
                <h5>Connect with us:</h5>
                <button class="facebook expand" href="http://zurb.com">Facebook</button>
                <button class="twitter expand" href="http://zurb.com">Twitter</button>
            </columns>
            <columns large="6">
                <h5>Contact Info:</h5>
                <p>Phone: 0702 477 708</p>
                <p>Email: karanujohn171@gmail.com</p>
            </columns>
        </row>
    </wrapper>